header{
    padding: 15px 0;
    background-color: #ffffff;
    height: 90px;
    .logo{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 80%;
    }

    .emp-text{
        font: normal normal bold 20px/25px Montserrat;
        font-family: "Montserrat",sans-serif;
        letter-spacing: 0px;
        color: #82a70c;
        text-transform: capitalize;
    }

    .emp-payroll
    {
        color: #42515f;
    }
}


#root 
{
  height: 100vh;
  background-color: white;
}