.column{
  display: flex;
  flex-direction: column;
}

.row
{
  display: flex;
  flex-direction: row;
}

.center
{
  justify-content: center;
  align-items: center;
}

.justifyCenter
{
  justify-content: center;
}

.aligncenter
{
  align-items: center;
}

.space_between
{
  justify-content: space-between;
}

.fitWidth
{
  width: fit-content;
}

.App
{
  height: 100%;
}